<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-white font-weight-bold">Welcome to Chat</h1>
    </div>
    <div class="col-6" *ngIf="!loading">
     <div class="border container bg-white rounded">
        <h3>Register</h3>
        <div class="form-group">
          <label>Username:</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Add Username" [(ngModel)]="username">

        </div>
        <div class="form-group">
          <button class="btn btn-success" (click)="onRegister()" >Access</button>
        </div>
     </div>
    </div>
    <div class="col-12" *ngIf="loading">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <div class="chatArea">
              <ul class="chatMessage">
                <li class="message" *ngFor="let item of messages">
                  <h5 class="text-danger">{{item.username}}</h5>
                  {{item.message}}
                </li>
              </ul>
             </div> 
          </div>
          <div class="col-3">
            <h3 class="text-white">Usuarios</h3>
             <div class="border container bg-white rounded userChat">
             </div> 
          </div>
          <div class="col-12">
            <div class="border container bg-white rounded pt-2 mt-2">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="messageContent"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-success" (click)="onSend()">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>